In [1]:
import pandas as pd
import timeit
import numpy as np

#Reading Dataset
df = pd.read_csv('adult.data', sep=",", header = None , na_values = "?")
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
#Adding column names in the Dataset
df.columns = ['age', 'workclass','fnlwgt','education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race',
              'sex', 'capital_gain', 'capital_loss','hours_per_week','native_country', 'class']
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
#Preprocessing
#Converting continuous data into Categorical data
df['Age'] = pd.cut(x=df['age'], bins=[0, 18, 30, 50, 1000], labels=['Underage', 'Young', 'Adult','Elderly'])
#In this I have divided Age into 4 categories
#Similarly done for hours per week
df['Hours_per_Week'] = pd.cut(x=df['hours_per_week'], bins=[0, 20, 40, 1000], labels=['Part-Time', 'Full-Time', 'Overtime'])
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class,Age,Hours_per_Week
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Adult,Full-Time
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Adult,Part-Time
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Adult,Full-Time
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Elderly,Full-Time
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Young,Full-Time

In [5]:
#Some columns like fnlwgt, education_num didn't give any perspective.
#Removed old age and hours_per_week columns
#Capital_Gain and Capital_Loss had many 0 values.
df = df.drop(['age','fnlwgt','education_num','hours_per_week','capital_loss', 'capital_gain'], axis = 1)
df.head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,class,Age,Hours_per_Week
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K,Adult,Full-Time
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K,Adult,Part-Time
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K,Adult,Full-Time
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K,Elderly,Full-Time
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K,Young,Full-Time

In [6]:
#Removing space from the each item.
df = df.applymap(lambda space: space.strip() if type(space) is str else space)
#Here Preprocessing and Cleaning is completed

APRIORI ALGORITHM

In [7]:
#We will start the timer for Apriori Algorithm here
start_time = timeit.default_timer()
# Earlier we cleaned the dataframe. Now we will be using dataframe.values.tolist() to load the dataset.
def load_df():
    return df.values.tolist()
#First step is generating Candidate1.
def gen_cand1(itemset):
    CANDIDATE1 = []
    for i in itemset:
        for j in i:
            if not [j] in CANDIDATE1:
                CANDIDATE1.append([j])
    return list(map(frozenset, CANDIDATE1)) 
#Set in unhashable therefore we use frozenset which is nothing but immutable version of python set object.

itemset = load_df()
CANDIDATE1 = gen_cand1(itemset)

In [8]:
# Scanning Databse
def database_scan(Db, Ck, min_sup):
    sup_count = {}
    sup_data = {}
    r_list = []
    Db_length = len(Db)
    for t in Db:
        for i in Ck:
            if i.issubset(t):
                if not i in sup_count: sup_count[i]=1
                else: sup_count[i] += 1
    
    total_items = int(Db_length)
    for key in sup_count:
        support = sup_count[key]/total_items
        if support >= min_sup:
            r_list.insert(0,key)
        sup_data[key] = support
    return r_list, sup_data

#In this step we use our knowledge of support count. 
#If support of an item is greater than min_support, we insert that item and store it.

# Generating Apriori
def generate_apriori(L_k, k): 
    Ck = []
    for l in range(len(L_k)):
        for i in range(l+1, len(L_k)): 
            l1 = list(L_k[l])[:k-2]
            l2 = list(L_k[i])[:k-2]
            l1.sort()
            l2.sort()
            if l1==l2: 
                Ck.append(L_k[l] | L_k[i]) 
    return Ck

In [9]:
# Apriori function in which we specify min_sup and obtain frequent itemsets corresponding to it.
def apriori(itemset, min_sup = 0.12):
    CANDIDATE1 = gen_cand1(itemset)
    D = list(map(set, itemset))
    L1, sup_data = database_scan(D, CANDIDATE1, min_sup)
    L = [L1]
    k = 2
    while (len(L[k-2]) > 0):
        Ck = generate_apriori(L[k-2], k)
        L_k, sup = database_scan(D, Ck, min_sup)
        sup_data.update(sup)
        L.append(L_k)
        k += 1
    return L, sup_data
L,sdata = apriori(itemset)
new_list = []
for index in range(len(L)):
    print("\nL{} ".format(index))
    print("Number of patterns={} \n".format(len(L[index])))
    apriori_freq_pattern = [list(i) for i in L[index]]
    print(apriori_freq_pattern)

L0
Number of patterns=24

[['Craft-repair'], ['Own-child'], ['Some-college'], ['Overtime'], ['>50K'], ['Young'], ['Female'], ['Prof-specialty'], ['Elderly'], ['Divorced'], ['HS-grad'], ['Private'], ['Husband'], ['Exec-managerial'], ['Married-civ-spouse'], ['Full-Time'], ['Adult'], ['<=50K'], ['United-States'], ['Male'], ['White'], ['Not-in-family'], ['Never-married'], ['Bachelors']]

L1
Number of patterns=106

[['White', 'Some-college'], ['Some-college', 'Full-Time'], ['<=50K', 'Some-college'], ['Overtime', '<=50K'], ['Never-married', 'Young'], ['White', 'Young'], ['Young', 'United-States'], ['Never-married', 'Own-child'], ['White', 'Own-child'], ['Own-child', 'United-States'], ['<=50K', 'Own-child'], ['Male', 'Young'], ['Male', 'Some-college'], ['Some-college', 'United-States'], ['Private', 'Some-college'], ['Private', 'Never-married'], ['Female', 'Never-married'], ['>50K', 'Adult'], ['>50K', 'Private'], ['Overtime', 'Adult'], ['Overtime', 'Private'], ['HS-grad', 'Married-civ-spouse'], ['HS-grad', 'Husband'], ['Elderly', 'White'], ['>50K', 'White'], ['Male', '>50K'], ['>50K', 'United-States'], ['>50K', 'Married-civ-spouse'], ['Husband', '>50K'], ['Overtime', 'White'], ['Male', 'Overtime'], ['Overtime', 'United-States'], ['Overtime', 'Married-civ-spouse'], ['Husband', 'Overtime'], ['White', 'Female'], ['Female', 'United-States'], ['Female', 'Adult'], ['<=50K', 'Female'], ['Female', 'Full-Time'], ['Private', 'Female'], ['<=50K', 'Young'], ['Young', 'Full-Time'], ['Private', 'Young'], ['Full-Time', 'Married-civ-spouse'], ['Husband', 'Full-Time'], ['Private', 'Married-civ-spouse'], ['Husband', 'Private'], ['Elderly', 'Male'], ['Elderly', 'United-States'], ['Elderly', '<=50K'], ['Elderly', 'Married-civ-spouse'], ['Not-in-family', 'Private'], ['White', 'Private'], ['Male', 'Private'], ['Private', 'United-States'], ['<=50K', 'Private'], ['Private', 'Adult'], ['Private', 'Full-Time'], ['HS-grad', 'White'], ['HS-grad', 'Male'], ['HS-grad', 'United-States'], ['HS-grad', '<=50K'], ['HS-grad', 'Adult'], ['HS-grad', 'Full-Time'], ['HS-grad', 'Private'], ['Divorced', 'United-States'], ['<=50K', 'Divorced'], ['White', 'Married-civ-spouse'], ['Male', 'Married-civ-spouse'], ['United-States', 'Married-civ-spouse'], ['<=50K', 'Married-civ-spouse'], ['Adult', 'Married-civ-spouse'], ['Husband', 'White'], ['Husband', 'Male'], ['Husband', 'United-States'], ['Husband', '<=50K'], ['Husband', 'Adult'], ['Husband', 'Married-civ-spouse'], ['Not-in-family', 'Never-married'], ['White', 'Bachelors'], ['White', 'Never-married'], ['White', 'Not-in-family'], ['Male', 'Never-married'], ['Male', 'Not-in-family'], ['Male', 'White'], ['Bachelors', 'United-States'], ['Never-married', 'United-States'], ['Not-in-family', 'United-States'], ['White', 'United-States'], ['Male', 'United-States'], ['<=50K', 'Never-married'], ['<=50K', 'Not-in-family'], ['<=50K', 'White'], ['Male', '<=50K'], ['<=50K', 'United-States'], ['White', 'Adult'], ['Male', 'Adult'], ['United-States', 'Adult'], ['<=50K', 'Adult'], ['Never-married', 'Full-Time'], ['Not-in-family', 'Full-Time'], ['White', 'Full-Time'], ['Male', 'Full-Time'], ['Full-Time', 'United-States'], ['<=50K', 'Full-Time'], ['Full-Time', 'Adult']]

L2
Number of patterns=223

[['White', 'Private', 'Some-college'], ['Male', 'White', 'Some-college'], ['<=50K', 'White', 'Some-college'], ['Some-college', 'Full-Time', 'United-States'], ['White', 'Some-college', 'United-States'], ['<=50K', 'Some-college', 'United-States'], ['<=50K', 'Private', 'Some-college'], ['Male', 'Private', 'Young'], ['Overtime', 'White', '<=50K'], ['Male', '<=50K', 'Young'], ['Male', 'Young', 'United-States'], ['Male', 'White', 'Young'], ['Male', 'Private', 'Never-married'], ['Male', 'Overtime', '<=50K'], ['Overtime', '<=50K', 'United-States'], ['Overtime', 'Private', '<=50K'], ['<=50K', 'Private', 'Never-married'], ['Private', 'Young', 'United-States'], ['<=50K', 'Young', 'United-States'], ['<=50K', 'White', 'Young'], ['<=50K', 'Never-married', 'Young'], ['<=50K', 'Female', 'Never-married'], ['Private', 'Never-married', 'Full-Time'], ['Private', 'Never-married', 'Young'], ['<=50K', 'Own-child', 'United-States'], ['<=50K', 'White', 'Own-child'], ['<=50K', 'Never-married', 'Own-child'], ['White', 'Own-child', 'United-States'], ['Never-married', 'Own-child', 'United-States'], ['Full-Time', 'Young', 'United-States'], ['White', 'Young', 'Full-Time'], ['White', 'Young', 'United-States'], ['White', 'Never-married', 'Young'], ['White', 'Private', 'Young'], ['Never-married', 'Young', 'Full-Time'], ['Never-married', 'Young', 'United-States'], ['Male', 'Overtime', 'Adult'], ['Male', 'Overtime', 'Private'], ['Private', 'Some-college', 'United-States'], ['Male', 'Some-college', 'United-States'], ['Husband', 'Private', 'Adult'], ['Husband', 'White', 'Private'], ['Husband', 'Full-Time', 'Adult'], ['Husband', 'White', 'Full-Time'], ['Male', '>50K', 'Adult'], ['Male', '>50K', 'Private'], ['>50K', 'Private', 'Married-civ-spouse'], ['Married-civ-spouse', '>50K', 'Adult'], ['White', 'Private', 'Never-married'], ['Overtime', 'Private', 'United-States'], ['Overtime', 'White', 'Private'], ['Overtime', 'United-States', 'Adult'], ['Overtime', 'White', 'Adult'], ['>50K', 'Private', 'United-States'], ['>50K', 'White', 'Private'], ['>50K', 'United-States', 'Adult'], ['>50K', 'White', 'Adult'], ['Female', 'United-States', 'Never-married'], ['Private', 'Never-married', 'United-States'], ['Husband', 'Overtime', 'Married-civ-spouse'], ['Husband', 'Overtime', 'United-States'], ['Husband', 'Overtime', 'Male'], ['Husband', 'Overtime', 'White'], ['Married-civ-spouse', 'Overtime', 'United-States'], ['Male', 'Overtime', 'United-States'], ['Male', 'Overtime', 'White'], ['Male', 'Overtime', 'Married-civ-spouse'], ['Overtime', 'White', 'Married-civ-spouse'], ['Overtime', 'White', 'United-States'], ['Husband', '>50K', 'Married-civ-spouse'], ['Husband', '>50K', 'United-States'], ['Husband', '>50K', 'Male'], ['Husband', '>50K', 'White'], ['Married-civ-spouse', '>50K', 'United-States'], ['Male', '>50K', 'United-States'], ['Male', '>50K', 'White'], ['Male', '>50K', 'Married-civ-spouse'], ['>50K', 'White', 'Married-civ-spouse'], ['>50K', 'White', 'United-States'], ['Elderly', 'White', 'United-States'], ['Elderly', 'Male', 'White'], ['HS-grad', 'Husband', 'United-States'], ['HS-grad', 'Husband', 'Male'], ['HS-grad', 'United-States', 'Married-civ-spouse'], ['HS-grad', 'Male', 'Married-civ-spouse'], ['HS-grad', 'White', 'Married-civ-spouse'], ['HS-grad', 'Husband', 'Married-civ-spouse'], ['White', 'Full-Time', 'Married-civ-spouse'], ['White', 'Private', 'Married-civ-spouse'], ['Private', 'Adult', 'Married-civ-spouse'], ['Adult', 'Full-Time', 'Married-civ-spouse'], ['Private', 'Female', 'United-States'], ['<=50K', 'Female', 'United-States'], ['<=50K', 'White', 'Female'], ['Female', 'Full-Time', 'United-States'], ['Female', 'Adult', 'United-States'], ['White', 'Female', 'Full-Time'], ['White', 'Female', 'United-States'], ['White', 'Private', 'Female'], ['Private', 'Young', 'Full-Time'], ['<=50K', 'Young', 'Full-Time'], ['<=50K', 'Private', 'Young'], ['Private', 'Female', 'Full-Time'], ['<=50K', 'Female', 'Full-Time'], ['<=50K', 'Private', 'Female'], ['<=50K', 'Full-Time', 'Married-civ-spouse'], ['Male', 'Full-Time', 'Married-civ-spouse'], ['<=50K', 'Private', 'Married-civ-spouse'], ['Male', 'Private', 'Married-civ-spouse'], ['Elderly', '<=50K', 'United-States'], ['Elderly', 'Male', 'United-States'], ['Husband', 'Private', 'Married-civ-spouse'], ['Husband', '<=50K', 'Private'], ['Husband', 'Private', 'United-States'], ['Husband', 'Male', 'Private'], ['Private', 'Full-Time', 'Married-civ-spouse'], ['Private', 'United-States', 'Married-civ-spouse'], ['Husband', 'Full-Time', 'Married-civ-spouse'], ['Husband', '<=50K', 'Full-Time'], ['Husband', 'Full-Time', 'United-States'], ['Husband', 'Male', 'Full-Time'], ['Husband', 'Private', 'Full-Time'], ['United-States', 'Full-Time', 'Married-civ-spouse'], ['HS-grad', 'Private', 'Full-Time'], ['HS-grad', '<=50K', 'Private'], ['HS-grad', '<=50K', 'Full-Time'], ['HS-grad', '<=50K', 'Adult'], ['HS-grad', 'Private', 'United-States'], ['HS-grad', 'Full-Time', 'United-States'], ['HS-grad', 'Adult', 'United-States'], ['HS-grad', '<=50K', 'United-States'], ['HS-grad', 'Male', 'Private'], ['HS-grad', 'Male', 'Full-Time'], ['HS-grad', 'Male', '<=50K'], ['HS-grad', 'Male', 'United-States'], ['HS-grad', 'White', 'Private'], ['HS-grad', 'White', 'Full-Time'], ['HS-grad', 'White', 'Adult'], ['HS-grad', '<=50K', 'White'], ['HS-grad', 'White', 'United-States'], ['HS-grad', 'Male', 'White'], ['Private', 'Full-Time', 'Adult'], ['<=50K', 'Private', 'Full-Time'], ['<=50K', 'Private', 'Adult'], ['<=50K', 'Private', 'United-States'], ['<=50K', 'White', 'Private'], ['<=50K', 'Not-in-family', 'Private'], ['Private', 'Full-Time', 'United-States'], ['Private', 'Adult', 'United-States'], ['Male', 'Private', 'Full-Time'], ['Male', 'Private', 'Adult'], ['Male', 'Private', '<=50K'], ['Male', 'Private', 'United-States'], ['Male', 'White', 'Private'], ['White', 'Private', 'Full-Time'], ['White', 'Private', 'Adult'], ['White', 'Private', 'United-States'], ['White', 'Private', 'Not-in-family'], ['Not-in-family', 'Private', 'United-States'], ['Husband', 'Married-civ-spouse', 'Adult'], ['Husband', '<=50K', 'Married-civ-spouse'], ['Husband', 'Married-civ-spouse', 'United-States'], ['Husband', 'Adult', 'United-States'], ['Husband', '<=50K', 'United-States'], ['Husband', 'Male', 'Married-civ-spouse'], ['Husband', 'Male', 'Adult'], ['Husband', 'Male', '<=50K'], ['Husband', 'Male', 'United-States'], ['Husband', 'White', 'Married-civ-spouse'], ['Husband', 'White', 'Adult'], ['Husband', '<=50K', 'White'], ['Husband', 'White', 'United-States'], ['Husband', 'Male', 'White'], ['<=50K', 'Adult', 'Married-civ-spouse'], ['<=50K', 'United-States', 'Married-civ-spouse'], ['<=50K', 'White', 'Married-civ-spouse'], ['United-States', 'Adult', 'Married-civ-spouse'], ['Male', 'Adult', 'Married-civ-spouse'], ['Male', '<=50K', 'Married-civ-spouse'], ['Male', 'United-States', 'Married-civ-spouse'], ['Male', 'White', 'Married-civ-spouse'], ['White', 'Adult', 'Married-civ-spouse'], ['White', 'United-States', 'Married-civ-spouse'], ['Adult', 'Full-Time', 'United-States'], ['<=50K', 'Full-Time', 'Adult'], ['Male', 'Full-Time', 'Adult'], ['White', 'Full-Time', 'Adult'], ['<=50K', 'Full-Time', 'United-States'], ['<=50K', 'Adult', 'United-States'], ['Male', '<=50K', 'Full-Time'], ['Male', '<=50K', 'Adult'], ['<=50K', 'White', 'Full-Time'], ['<=50K', 'White', 'Adult'], ['<=50K', 'White', 'United-States'], ['<=50K', 'Not-in-family', 'Full-Time'], ['<=50K', 'Not-in-family', 'United-States'], ['<=50K', 'Not-in-family', 'White'], ['<=50K', 'Never-married', 'Full-Time'], ['<=50K', 'Never-married', 'United-States'], ['<=50K', 'White', 'Never-married'], ['<=50K', 'Not-in-family', 'Never-married'], ['Male', 'Full-Time', 'United-States'], ['Male', 'Adult', 'United-States'], ['Male', '<=50K', 'United-States'], ['White', 'Full-Time', 'United-States'], ['White', 'Adult', 'United-States'], ['Not-in-family', 'Full-Time', 'United-States'], ['Never-married', 'Full-Time', 'United-States'], ['Male', 'White', 'Full-Time'], ['Male', 'White', 'Adult'], ['Male', 'White', '<=50K'], ['Male', 'White', 'United-States'], ['Male', 'Not-in-family', 'United-States'], ['Male', 'Never-married', '<=50K'], ['Male', 'Never-married', 'United-States'], ['Male', 'White', 'Never-married'], ['White', 'Not-in-family', 'Full-Time'], ['White', 'Not-in-family', 'United-States'], ['White', 'Never-married', 'Full-Time'], ['White', 'Never-married', 'United-States'], ['White', 'Never-married', 'Not-in-family'], ['White', 'Bachelors', 'United-States'], ['Not-in-family', 'Never-married', 'United-States']]

L3
Number of patterns=226


In [10]:
end_time = timeit.default_timer() #ending timer
total_time = end_time - start_time
total_time

6.483096700000004