In [1]:
import pandas as pd
import timeit
import numpy as np
import itertools
#Reading Dataset
df = pd.read_csv('adult.data', sep=",", header = None , na_values = "?")
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
#Adding column names in the Dataset
df.columns = ['age', 'workclass','fnlwgt','education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race',
              'sex', 'capital_gain', 'capital_loss','hours_per_week','native_country', 'class']

In [3]:
#Preprocessing
#Converting continuous data into Categorical data
df['Age'] = pd.cut(x=df['age'], bins=[0, 18, 30, 50, 1000], labels=['Underage', 'Young', 'Adult','Elderly'])
#In this I have divided Age into 4 categories
#Similarly done for hours per week
df['Hours_per_Week'] = pd.cut(x=df['hours_per_week'], bins=[0, 20, 40, 1000], labels=['Part-Time', 'Full-Time', 'Overtime'])
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class,Age,Hours_per_Week
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Adult,Full-Time
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Adult,Part-Time
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Adult,Full-Time
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Elderly,Full-Time
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Young,Full-Time

In [4]:
#Some columns like fnlwgt, education_num didn't give any perspective.
#Removed old age and hours_per_week columns
#Capital_Gain and Capital_Loss had many 0 values.
df = df.drop(['age','fnlwgt','education_num','hours_per_week','capital_loss', 'capital_gain'], axis = 1)
df.head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,class,Age,Hours_per_Week
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K,Adult,Full-Time
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K,Adult,Part-Time
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K,Adult,Full-Time
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K,Elderly,Full-Time
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K,Young,Full-Time

In [5]:
#Removing space from the each item.
df = df.applymap(lambda space: space.strip() if type(space) is str else space)
#Here Preprocessing and Cleaning is completed

FP Growth

In [6]:
df = df.values.tolist()

In [7]:
#Here we start timing
start_time = timeit.default_timer()

#Defining class for Tree
class Tree(object):

    def __init__(self, value, count, parent):
        self.value = value
        self.count = count
        self.parent = parent
        self.link = None
        self.child = []
#function for getting child
    def getting_child(self, value): 
        for n in self.child:
            if n.value == value:
                return n
        return None
#function for adding child
    def adding_child(self, value):
        a_child = Tree(value, 1, self)
        self.child.append(a_child)
        return a_child

In [8]:
#Defining class for Building FP Growth Tree
class Build_FPGrowth_Tree(object):
    
    def __init__(self, trans, threshold, r_value, r_count):
        self.frequent = self.get_freq_items(trans, threshold)
        self.headers = self.gen_header(self.frequent)
        self.root = self.gen_fp_tree(trans, r_value, r_count, self.frequent, self.headers)
        
#Function for getting frequent items
    def get_freq_items(self, db_trans, sup_threshold):
        freq_item = {}
        for t in db_trans:
            for i in t:
                if i in freq_item:
                    freq_item[i] += 1
                else:
                    freq_item[i] = 1
        
        for key in list(freq_item.keys()):
            if freq_item[key] < sup_threshold:
                del freq_item[key]
        return freq_item
   
    def gen_header(self, freq):
        h_table = {}
        for key in freq.keys():
            h_table[key] = None
        return h_table

#Function for building FP Tree
    def gen_fp_tree(self, db_trans, r_value, r_count, freq, heads):
        root_node = Tree(r_value, r_count, None)
        for t in db_trans:
            sort_item = [i for i in t if i in freq]
            sort_item.sort(key=lambda i: freq[i], reverse=True)
            if len(sort_item) > 0: 
                #Checking if sorted items are more than 0 and if they are, we append.
                self.node_insert(sort_item, root_node, heads)
        return root_node

#Function for inserting tree
    def node_insert(self, items, node, head):
        f = items[0]
        new_child = node.getting_child(f) #Getting Child
        if new_child is not None: #Checking Child
            new_child.count += 1
        else:
            new_child = node.adding_child(f) #Adding Child
            if head[f] is None:
                head[f] = new_child
            else:
                head_list = head[f]
                while head_list.link is not None:
                    head_list = head_list.link
                head_list.link = new_child
                
        rem_items = items[1:] # Recurrsive calling
        if len(rem_items) > 0: 
            #Checking whether items are present and if they are, we append
            self.node_insert(rem_items, new_child, head)

    def tree_path(self, n):
        child_num = len(n.child)
        if child_num > 1:
            return False
        elif child_num == 0:
            return True
       
    #Pattern Mining    
    def pattern_mining(self, t_hold): 
        if self.tree_path(self.root):
            return self.pattern_generation()
        else:
            return self.zpattern(self.subtrees_mining(t_hold))
    #Conditional tree
    def zpattern(self, f_pattern):
        i = self.root.value
        if i is not None:
            new_pattern = {}
            for key in f_pattern.keys():
                new_pattern[tuple((list(key) + [i]))] = f_pattern[key]
            return new_pattern
        return f_pattern
    #Pattern Generation
    def pattern_generation(self): 
        fre_pattern = {}
        i = self.frequent.keys() #Merging Index and Values
        if self.root.value is None:
            s_value = []
        else:
            s_value = [self.root.value]
            fre_pattern[tuple(s_value)] = self.root.count
        for j in range(1, len(i)):
            for k in itertools.combinations(i, j):
                ptn = tuple((list(k) + s_value))
                fre_pattern[ptn] = min([self.frequent[f] for f in k])
        return fre_pattern

    def subtrees_mining(self, threshold):
        fre_pat = {}
        m_order = sorted(self.frequent.keys(),key=lambda l : self.frequent[l])
        for each_item in m_order:
            cond_tree = []
            head_node = self.headers[each_item]
            tree_suff = []
            while head_node is not None: # When node is not null we append 
                tree_suff.append(head_node)
                head_node = head_node.link
                
            for i in tree_suff:
                freq = i.count
                path_tree = []
                parent = i.parent
                while parent.parent is not None:
                    path_tree.append(parent.value)
                    parent = parent.parent
                for i in range(freq):
                    cond_tree.append(path_tree)
                    #Constructing subtree with frequent patterns
            stree = Build_FPGrowth_Tree(cond_tree, threshold,each_item, self.frequent[each_item])
            stree_pat = stree.pattern_mining(threshold)
            
            # Adding patterns generated in subtree to the main tree
            for freq_pa in stree_pat.keys():
                if freq_pa in fre_pat:
                    fre_pat[freq_pa] += stree_pat[freq_pa]
                else:
                    fre_pat[freq_pa] = stree_pat[freq_pa]
        return fre_pat

In [9]:
#Getting Frequent patterns
def fp_growth_freq_patterns(data, sup_threshold):
    tree = Build_FPGrowth_Tree(data, sup_threshold, None, None)
    return tree.pattern_mining(sup_threshold)
#Defining minimum support
min_sup = 0.12
x = min_sup*32561 
print("((Pattern) , Support Count) are:- ")
fp_freq_itemsets = fp_growth_freq_patterns(df, x)
fpgrowth_freq_itemsets = list(fp_freq_itemsets.items())
end_time = timeit.default_timer() 
fpgrowth_freq_itemsets

((Pattern) , Support Count) are:-

[(('Exec-managerial',), 4066),
 (('Craft-repair',), 4099),
 (('Prof-specialty',), 4140),
 (('?',), 4262),
 (('<=50K', 'Divorced'), 3980),
 (('United-States', 'Divorced'), 4162),
 (('<=50K', 'United-States', 'White', 'Own-child'), 3966),
 (('<=50K', 'White', 'Own-child'), 4196),
 (('<=50K', 'United-States', 'Never-married', 'Own-child'), 4134),
 (('<=50K', 'Never-married', 'Own-child'), 4451),
 (('<=50K', 'United-States', 'Own-child'), 4632),
 (('<=50K', 'Own-child'), 5001),
 (('United-States', 'White', 'Bachelors'), 4380),
 (('United-States', 'Bachelors'), 4766),
 (('Married-civ-spouse', 'Elderly'), 4009),
 (('United-States', '<=50K', 'Elderly'), 3941),
 (('White', 'Male', 'Elderly'), 4114),
 (('United-States', 'Male', 'Elderly'), 4159),
 (('United-States', 'White', 'Elderly'), 5265),
 (('United-States', 'Elderly'), 5866),
 (('United-States', 'Full-Time', 'Some-college'), 4106),
 (('White', 'Male', 'Some-college'), 3938),
 (('United-States', 'Male', 'Some-college'), 4144),
 (('<=50K', 'Private', 'Some-college'), 4171),
 (('United-States', 'White', 'Private', 'Some-college'), 4102),
 (('United-States', 'Private', 'Some-college'), 4678),
 (('United-States', 'White', '<=50K', 'Some-college'), 4678),
 (('United-States', '<=50K', 'Some-college'), 5442),
 (('United-States', 'White', 'Some-college'), 5872),
 (('United-States', 'Some-college'), 6740),
 (('Married-civ-spouse', 'Private', '>50K'), 4220),
 (('Male', 'Private', '>50K'), 4237),
 (('United-States', 'White', 'Private', '>50K'), 4276),
 (('United-States', 'Private', '>50K'), 4541),
 (('United-States', 'Male', 'Adult', '>50K'), 3927),
 (('White', 'Married-civ-spouse', 'Adult', '>50K'), 3956),
 (('United-States', 'Married-civ-spouse', 'Adult', '>50K'), 3982),
 (('United-States', 'White', 'Adult', '>50K'), 4316),
 (('United-States', 'Adult', '>50K'), 4630),
 (('Male', 'Married-civ-spouse', 'White', 'United-States', 'Husband', '>50K'),
  5118),
 (('Male', 'White', 'United-States', 'Husband', '>50K'), 5122),
 (('Male', 'Married-civ-spouse', 'United-States', 'Husband', '>50K'), 5421),
 (('Male', 'United-States', 'Husband', '>50K'), 5425),
 (('Male', 'Married-civ-spouse', 'White', 'Husband', '>50K'), 5424),
 (('Male', 'White', 'Husband', '>50K'), 5428),
 (('Male', 'Married-civ-spouse', 'Husband', '>50K'), 5914),
 (('Male', 'Husband', '>50K'), 5918),
 (('White', 'United-States', 'Married-civ-spouse', 'Male', '>50K'), 5136),
 (('White', 'Married-civ-spouse', 'Male', '>50K'), 5444),
 (('United-States', 'White', 'Male', '>50K'), 5740),
 (('United-States', 'Male', '>50K'), 6099),
 (('United-States', 'White', 'Married-civ-spouse', '>50K'), 5751),
 (('United-States', 'Married-civ-spouse', '>50K'), 6117),
 (('United-States', 'White', '>50K'), 6704),
 (('United-States', '>50K'), 7171),
 (('United-States', 'Male', 'Not-in-family'), 3956),
 (('White', 'Never-married', 'Not-in-family'), 4029),
 (('United-States', 'Never-married', 'Not-in-family'), 4238),
 (('<=50K', 'Never-married', 'Not-in-family'), 4280),
 (('United-States', 'White', 'Full-Time', 'Not-in-family'), 4048),
 (('<=50K', 'White', 'Full-Time', 'Not-in-family'), 4081),
 (('<=50K', 'United-States', 'Full-Time', 'Not-in-family'), 4416),
 (('<=50K', 'Full-Time', 'Not-in-family'), 4896),
 (('United-States', '<=50K', 'White', 'Private', 'Not-in-family'), 4309),
 (('United-States', 'White', 'Private', 'Not-in-family'), 4793),
 (('<=50K', 'United-States', 'Private', 'Not-in-family'), 4872),
 (('<=50K', 'Private', 'Not-in-family'), 5439),
 (('United-States', '<=50K', 'White', 'Not-in-family'), 5881),
 (('United-States', 'White', 'Not-in-family'), 6609),
 (('United-States', '<=50K', 'Not-in-family'), 6735),
 (('United-States', 'Not-in-family'), 7528),
 (('Male',
   'Married-civ-spouse',
   'White',
   'United-States',
   'Husband',
   'Overtime'),
  4830),
 (('Male', 'White', 'United-States', 'Husband', 'Overtime'), 4837),
 (('Male', 'Married-civ-spouse', 'United-States', 'Husband', 'Overtime'),
  5028),
 (('Male', 'United-States', 'Husband', 'Overtime'), 5035),
 (('Male', 'Married-civ-spouse', 'White', 'Husband', 'Overtime'), 5118),
 (('Male', 'White', 'Husband', 'Overtime'), 5125),
 (('Male', 'Married-civ-spouse', 'Husband', 'Overtime'), 5443),
 (('Male', 'Husband', 'Overtime'), 5450),
 (('White', 'United-States', 'Male', 'Adult', 'Overtime'), 4134),
 (('White', 'Male', 'Adult', 'Overtime'), 4397),
 (('United-States', 'White', 'Adult', 'Overtime'), 4911),
 (('United-States', 'Adult', 'Overtime'), 5233),
 (('Private', '<=50K', 'Overtime'), 3935),
 (('United-States', 'Male', '<=50K', 'Overtime'), 3961),
 (('White', 'Male', '<=50K', 'Overtime'), 3988),
 (('United-States', 'White', '<=50K', 'Overtime'), 4794),
 (('United-States', '<=50K', 'Overtime'), 5184),
 (('White', 'Male', 'United-States', 'Married-civ-spouse', 'Overtime'), 4859),
 (('White', 'United-States', 'Married-civ-spouse', 'Overtime'), 5084),
 (('Male', 'White', 'Married-civ-spouse', 'Overtime'), 5151),
 (('Male', 'Married-civ-spouse', 'Overtime'), 5483),
 (('White', 'United-States', 'Male', 'Private', 'Overtime'), 4509),
 (('White', 'Male', 'Private', 'Overtime'), 4819),
 (('White', 'United-States', 'Private', 'Overtime'), 5480),
 (('White', 'Private', 'Overtime'), 5875),
 (('White', 'United-States', 'Male', 'Overtime'), 6804),
 (('White', 'Male', 'Overtime'), 7256),
 (('White', 'United-States', 'Overtime'), 8196),
 (('White', 'Overtime'), 8760),
 (('White', 'Private', 'Male', 'Young'), 4009),
 (('United-States', 'Private', 'Male', 'Young'), 4039),
 (('<=50K', 'Private', 'Male', 'Young'), 4258),
 (('<=50K', 'United-States', 'White', 'Male', 'Young'), 4067),
 (('<=50K', 'White', 'Male', 'Young'), 4531),
 (('<=50K', 'United-States', 'Male', 'Young'), 4626),
 (('<=50K', 'Male', 'Young'), 5298),
 (('United-States', 'Never-married', 'Full-Time', 'Young'), 3912),
 (('<=50K', 'Never-married', 'Full-Time', 'Young'), 4395),
 (('<=50K', 'White', 'Private', 'Full-Time', 'Young'), 4114),
 (('<=50K', 'United-States', 'Private', 'Full-Time', 'Young'), 4287),
 (('<=50K', 'Private', 'Full-Time', 'Young'), 4952),
 (('<=50K', 'United-States', 'White', 'Full-Time', 'Young'), 4522),
 (('<=50K', 'White', 'Full-Time', 'Young'), 5038),
 (('<=50K', 'United-States', 'Full-Time', 'Young'), 5347),
 (('<=50K', 'Full-Time', 'Young'), 6120),
 (('United-States', 'White', 'Private', 'Never-married', 'Young'), 3966),
 (('<=50K', 'White', 'Private', 'Never-married', 'Young'), 4290),
 (('<=50K', 'United-States', 'Private', 'Never-married', 'Young'), 4510),
 (('<=50K', 'Private', 'Never-married', 'Young'), 5121),
 (('<=50K', 'United-States', 'White', 'Never-married', 'Young'), 4868),
 (('<=50K', 'White', 'Never-married', 'Young'), 5331),
 (('<=50K', 'United-States', 'Never-married', 'Young'), 5703),
 (('<=50K', 'Never-married', 'Young'), 6431),
 (('<=50K', 'United-States', 'White', 'Private', 'Young'), 5434),
 (('<=50K', 'White', 'Private', 'Young'), 6018),
 (('<=50K', 'United-States', 'Private', 'Young'), 6252),
 (('<=50K', 'Private', 'Young'), 7117),
 (('<=50K', 'United-States', 'White', 'Young'), 6817),
 (('<=50K', 'White', 'Young'), 7501),
 (('<=50K', 'United-States', 'Young'), 7903),
 (('<=50K', 'Young'), 8945),
 (('Male', 'Married-civ-spouse', 'United-States', 'Husband', 'HS-grad'), 3993),
 (('Male', 'United-States', 'Husband', 'HS-grad'), 3998),
 (('Male', 'Married-civ-spouse', 'Husband', 'HS-grad'), 4273),
 (('Male', 'Husband', 'HS-grad'), 4278),
 (('United-States', 'Male', 'Married-civ-spouse', 'HS-grad'), 4027),
 (('United-States', 'White', 'Married-civ-spouse', 'HS-grad'), 4111),
 (('United-States', 'Married-civ-spouse', 'HS-grad'), 4498),
 (('<=50K', 'Adult', 'HS-grad'), 4001),
 (('United-States', 'White', 'Adult', 'HS-grad'), 3989),
 (('United-States', 'Adult', 'HS-grad'), 4635),
 (('United-States', 'Full-Time', 'Male', 'HS-grad'), 4142),
 (('<=50K', 'Private', 'Male', 'HS-grad'), 4189),
 (('United-States', 'White', 'Private', 'Male', 'HS-grad'), 4246),
 (('United-States', 'Private', 'Male', 'HS-grad'), 4757),
 (('United-States', 'White', '<=50K', 'Male', 'HS-grad'), 4596),
 (('United-States', '<=50K', 'Male', 'HS-grad'), 5216),
 (('United-States', 'White', 'Male', 'HS-grad'), 5880),
 (('United-States', 'Male', 'HS-grad'), 6595),
 (('<=50K', 'White', 'Private', 'Full-Time', 'HS-grad'), 3924),
 (('United-States', 'White', 'Private', 'Full-Time', 'HS-grad'), 4192),
 (('United-States', '<=50K', 'Private', 'Full-Time', 'HS-grad'), 4358),
 (('United-States', 'Private', 'Full-Time', 'HS-grad'), 4958),
 (('United-States', '<=50K', 'White', 'Full-Time', 'HS-grad'), 4652),
 (('United-States', 'White', 'Full-Time', 'HS-grad'), 5471),
 (('United-States', '<=50K', 'Full-Time', 'HS-grad'), 5637),
 (('United-States', 'Full-Time', 'HS-grad'), 6530),
 (('United-States', '<=50K', 'White', 'Private', 'HS-grad'), 5209),
 (('United-States', 'White', 'Private', 'HS-grad'), 6204),
 (('United-States', '<=50K', 'Private', 'HS-grad'), 6089),
 (('United-States', 'Private', 'HS-grad'), 7148),
 (('United-States', 'White', '<=50K', 'HS-grad'), 6908),
 (('United-States', '<=50K', 'HS-grad'), 8119),
 (('United-States', 'White', 'HS-grad'), 8384),
 (('United-States', 'HS-grad'), 9702),
 (('<=50K', 'United-States', 'Female', 'Never-married'), 4173),
 (('<=50K', 'Female', 'Never-married'), 4601),
 (('United-States', 'Private', 'Male', 'Never-married'), 3986),
 (('<=50K', 'Private', 'Male', 'Never-married'), 4330),
 (('<=50K', 'United-States', 'White', 'Male', 'Never-married'), 4271),
 (('<=50K', 'White', 'Male', 'Never-married'), 4681),
 (('<=50K', 'United-States', 'Male', 'Never-married'), 4958),
 (('<=50K', 'Male', 'Never-married'), 5591),
 (('United-States', 'White', 'Private', 'Full-Time', 'Never-married'), 3940),
 (('<=50K', 'White', 'Private', 'Full-Time', 'Never-married'), 4238),
 (('<=50K', 'United-States', 'Private', 'Full-Time', 'Never-married'), 4625),
 (('<=50K', 'Private', 'Full-Time', 'Never-married'), 5270),
 (('<=50K', 'United-States', 'White', 'Full-Time', 'Never-married'), 4883),
 (('<=50K', 'White', 'Full-Time', 'Never-married'), 5352),
 (('<=50K', 'United-States', 'Full-Time', 'Never-married'), 5997),
 (('<=50K', 'Full-Time', 'Never-married'), 6749),
 (('<=50K', 'United-States', 'White', 'Private', 'Never-married'), 5920),
 (('<=50K', 'White', 'Private', 'Never-married'), 6494),
 (('<=50K', 'United-States', 'Private', 'Never-married'), 6972),
 (('<=50K', 'Private', 'Never-married'), 7858),
 (('<=50K', 'United-States', 'White', 'Never-married'), 7660),
 (('<=50K', 'White', 'Never-married'), 8328),
 (('<=50K', 'United-States', 'Never-married'), 9131),
 (('<=50K', 'Never-married'), 10192),
 (('United-States', 'Adult', 'Female'), 4120),
 (('<=50K', 'White', 'Private', 'Full-Time', 'Female'), 3961),
 (('United-States', 'White', 'Private', 'Full-Time', 'Female'), 3981),
 (('<=50K', 'United-States', 'Private', 'Full-Time', 'Female'), 4474),
 (('<=50K', 'Private', 'Full-Time', 'Female'), 5055),
 (('United-States', '<=50K', 'White', 'Full-Time', 'Female'), 4777),
 (('United-States', 'White', 'Full-Time', 'Female'), 5349),
 (('<=50K', 'United-States', 'Full-Time', 'Female'), 6054),
 (('<=50K', 'Full-Time', 'Female'), 6761),
 (('United-States', '<=50K', 'White', 'Private', 'Female'), 5171),
 (('United-States', 'White', 'Private', 'Female'), 5772),
 (('<=50K', 'United-States', 'Private', 'Female'), 6264),
 (('<=50K', 'Private', 'Female'), 7026),
 (('United-States', '<=50K', 'White', 'Female'), 7004),
 (('United-States', 'White', 'Female'), 7968),
 (('United-States', '<=50K', 'Female'), 8610),
 (('United-States', 'Female'), 9682),
 (('Married-civ-spouse', 'Male', 'Adult', 'Full-Time', 'Husband'), 4057),
 (('Married-civ-spouse', 'Adult', 'Full-Time', 'Husband'), 4058),
 (('Married-civ-spouse', '<=50K', 'Full-Time', 'Husband'), 4434),
 (('Married-civ-spouse', 'Male', '<=50K', 'Full-Time', 'Husband'), 4433),
 (('Male',
   'Married-civ-spouse',
   'United-States',
   'Private',
   'Full-Time',
   'Husband'),
  4205),
 (('Male', 'United-States', 'Private', 'Full-Time', 'Husband'), 4207),
 (('Male', 'Married-civ-spouse', 'White', 'Private', 'Full-Time', 'Husband'),
  4267),
 (('Male', 'White', 'Private', 'Full-Time', 'Husband'), 4269),
 (('Male', 'Married-civ-spouse', 'Private', 'Full-Time', 'Husband'), 4877),
 (('Male', 'Private', 'Full-Time', 'Husband'), 4879),
 (('Male',
   'Married-civ-spouse',
   'United-States',
   'White',
   'Full-Time',
   'Husband'),
  5765),
 (('Male', 'United-States', 'White', 'Full-Time', 'Husband'), 5767),
 (('Male', 'Married-civ-spouse', 'White', 'Full-Time', 'Husband'), 6340),
 (('Male', 'White', 'Full-Time', 'Husband'), 6342),
 (('Male', 'Married-civ-spouse', 'United-States', 'Full-Time', 'Husband'),
  6345),
 (('Male', 'United-States', 'Full-Time', 'Husband'), 6347),
 (('Male', 'Married-civ-spouse', 'Full-Time', 'Husband'), 7222),
 (('Male', 'Full-Time', 'Husband'), 7224),
 (('Male',
   'Married-civ-spouse',
   'United-States',
   'Private',
   '<=50K',
   'Husband'),
  4182),
 (('Male', 'United-States', 'Private', '<=50K', 'Husband'), 4186),
 (('Male', 'Married-civ-spouse', 'White', 'Private', '<=50K', 'Husband'),
  4276),
 (('Male', 'White', 'Private', '<=50K', 'Husband'), 4280),
 (('Male', 'Married-civ-spouse', 'Private', '<=50K', 'Husband'), 4814),
 (('Male', 'Private', '<=50K', 'Husband'), 4818),
 (('Male', 'Married-civ-spouse', 'White', 'United-States', '<=50K', 'Husband'),
  5925),
 (('Male', 'White', 'United-States', '<=50K', 'Husband'), 5930),
 (('Male', 'Married-civ-spouse', 'United-States', '<=50K', 'Husband'), 6430),
 (('Male', 'United-States', '<=50K', 'Husband'), 6435),
 (('Male', 'Married-civ-spouse', 'White', '<=50K', 'Husband'), 6506),
 (('Male', 'White', '<=50K', 'Husband'), 6511),
 (('Male', 'Married-civ-spouse', '<=50K', 'Husband'), 7269),
 (('Male', '<=50K', 'Husband'), 7274),
 (('Married-civ-spouse',
   'Male',
   'White',
   'United-States',
   'Private',
   'Adult',
   'Husband'),
  4318),
 (('Married-civ-spouse',
   'White',
   'United-States',
   'Private',
   'Adult',
   'Husband'),
  4319),
 (('Married-civ-spouse',
   'Male',
   'United-States',
   'Private',
   'Adult',
   'Husband'),
  4631),
 (('Married-civ-spouse', 'United-States', 'Private', 'Adult', 'Husband'),
  4632),
 (('Married-civ-spouse', 'Male', 'White', 'Private', 'Adult', 'Husband'),
  4691),
 (('Married-civ-spouse', 'White', 'Private', 'Adult', 'Husband'), 4692),
 (('Married-civ-spouse', 'Male', 'Private', 'Adult', 'Husband'), 5212),
 (('Married-civ-spouse', 'Private', 'Adult', 'Husband'), 5213),
 (('Male', 'Married-civ-spouse', 'White', 'United-States', 'Adult', 'Husband'),
  6433),
 (('Male', 'White', 'United-States', 'Adult', 'Husband'), 6435),
 (('Male', 'Married-civ-spouse', 'United-States', 'Adult', 'Husband'), 6904),
 (('Male', 'United-States', 'Adult', 'Husband'), 6906),
 (('Male', 'Married-civ-spouse', 'White', 'Adult', 'Husband'), 6955),
 (('Male', 'White', 'Adult', 'Husband'), 6957),
 (('Male', 'Married-civ-spouse', 'Adult', 'Husband'), 7710),
 (('Male', 'Adult', 'Husband'), 7712),
 (('Male',
   'Married-civ-spouse',
   'White',
   'United-States',
   'Private',
   'Husband'),
  7099),
 (('Male', 'White', 'United-States', 'Private', 'Husband'), 7105),
 (('Male', 'Married-civ-spouse', 'United-States', 'Private', 'Husband'), 7620),
 (('Male', 'United-States', 'Private', 'Husband'), 7626),
 (('Male', 'Married-civ-spouse', 'White', 'Private', 'Husband'), 7733),
 (('Male', 'White', 'Private', 'Husband'), 7739),
 (('Male', 'Married-civ-spouse', 'Private', 'Husband'), 8565),
 (('Male', 'Private', 'Husband'), 8571),
 (('Male', 'Married-civ-spouse', 'White', 'United-States', 'Husband'), 11043),
 (('Male', 'White', 'United-States', 'Husband'), 11052),
 (('Male', 'Married-civ-spouse', 'United-States', 'Husband'), 11851),
 (('Male', 'United-States', 'Husband'), 11860),
 (('Male', 'Married-civ-spouse', 'White', 'Husband'), 11930),
 (('Male', 'White', 'Husband'), 11939),
 (('Male', 'Married-civ-spouse', 'Husband'), 13183),
 (('Male', 'Husband'), 13192),
 (('Male', 'Adult', '<=50K', 'Married-civ-spouse'), 3920),
 (('White', 'United-States', 'Full-Time', '<=50K', 'Married-civ-spouse'),
  3917),
 (('Male', 'White', 'Full-Time', '<=50K', 'Married-civ-spouse'), 3922),
 (('Male', 'Full-Time', '<=50K', 'Married-civ-spouse'), 4513),
 (('Male', 'United-States', 'Private', '<=50K', 'Married-civ-spouse'), 4238),
 (('White', 'United-States', 'Private', '<=50K', 'Married-civ-spouse'), 4292),
 (('Male', 'White', 'Private', '<=50K', 'Married-civ-spouse'), 4340),
 (('Male', 'Private', '<=50K', 'Married-civ-spouse'), 4899),
 (('White', 'Male', 'United-States', '<=50K', 'Married-civ-spouse'), 5989),
 (('White', 'United-States', '<=50K', 'Married-civ-spouse'), 6618),
 (('Male', 'White', '<=50K', 'Married-civ-spouse'), 6592),
 (('Male', '<=50K', 'Married-civ-spouse'), 7381),
 (('White', 'Adult', 'Full-Time', 'Married-civ-spouse'), 4086),
 (('Male', 'Adult', 'Full-Time', 'Married-civ-spouse'), 4086),
 (('United-States', 'Adult', 'Full-Time', 'Married-civ-spouse'), 4121),
 (('Male', 'United-States', 'Private', 'Full-Time', 'Married-civ-spouse'),
  4253),
 (('White', 'United-States', 'Private', 'Full-Time', 'Married-civ-spouse'),
  4433),
 (('White', 'Male', 'Private', 'Full-Time', 'Married-civ-spouse'), 4322),
 (('White', 'Private', 'Full-Time', 'Married-civ-spouse'), 4956),
 (('White', 'United-States', 'Male', 'Full-Time', 'Married-civ-spouse'), 5813),
 (('White', 'Male', 'Full-Time', 'Married-civ-spouse'), 6408),
 (('United-States', 'White', 'Full-Time', 'Married-civ-spouse'), 6656),
 (('United-States', 'Full-Time', 'Married-civ-spouse'), 7380),
 (('White', 'Male', 'United-States', 'Private', 'Adult', 'Married-civ-spouse'),
  4336),
 (('White', 'United-States', 'Private', 'Adult', 'Married-civ-spouse'), 4796),
 (('Male', 'White', 'Private', 'Adult', 'Married-civ-spouse'), 4716),
 (('Male', 'Private', 'Adult', 'Married-civ-spouse'), 5247),
 (('White', 'Male', 'Adult', 'Married-civ-spouse'), 6993),
 (('White', 'Male', 'United-States', 'Adult', 'Married-civ-spouse'), 6461),
 (('White', 'United-States', 'Adult', 'Married-civ-spouse'), 7184),
 (('White', 'Adult', 'Married-civ-spouse'), 7790),
 (('White', 'Male', 'United-States', 'Private', 'Married-civ-spouse'), 7158),
 (('White', 'United-States', 'Private', 'Married-civ-spouse'), 7942),
 (('White', 'Male', 'Private', 'Married-civ-spouse'), 7812),
 (('White', 'Private', 'Married-civ-spouse'), 8684),
 (('White', 'United-States', 'Male', 'Married-civ-spouse'), 11125),
 (('White', 'Male', 'Married-civ-spouse'), 12036),
 (('White', 'United-States', 'Married-civ-spouse'), 12369),
 (('White', 'Married-civ-spouse'), 13410),
 (('<=50K', 'Male', 'Full-Time', 'Adult'), 4119),
 (('Private', 'Male', 'Full-Time', 'Adult'), 4274),
 (('United-States', 'White', 'Male', 'Full-Time', 'Adult'), 4623),
 (('United-States', 'Male', 'Full-Time', 'Adult'), 5256),
 (('White', '<=50K', 'Private', 'Full-Time', 'Adult'), 4084),
 (('United-States', '<=50K', 'Private', 'Full-Time', 'Adult'), 4430),
 (('United-States', 'White', 'Private', 'Full-Time', 'Adult'), 4917),
 (('United-States', 'Private', 'Full-Time', 'Adult'), 5824),
 (('United-States', 'White', '<=50K', 'Full-Time', 'Adult'), 4964),
 (('United-States', '<=50K', 'Full-Time', 'Adult'), 6109),
 (('United-States', 'White', 'Full-Time', 'Adult'), 6884),
 (('United-States', 'Full-Time', 'Adult'), 8218),
 (('White', 'Private', 'Male', '<=50K', 'Adult'), 3993),
 (('United-States', 'Private', 'Male', '<=50K', 'Adult'), 4037),
 (('United-States', 'White', 'Male', '<=50K', 'Adult'), 5207),
 (('United-States', 'Male', '<=50K', 'Adult'), 5840),
 (('United-States', 'White', 'Private', '<=50K', 'Adult'), 5518),
 (('United-States', 'Private', '<=50K', 'Adult'), 6486),
 (('United-States', 'White', '<=50K', 'Adult'), 7856),
 (('United-States', '<=50K', 'Adult'), 9257),
 (('United-States', 'White', 'Male', 'Private', 'Adult'), 6058),
 (('United-States', 'Male', 'Private', 'Adult'), 6648),
 (('United-States', 'White', 'Private', 'Adult'), 8391),

In [10]:
total_time = end_time - start_time
total_time

7.597444199999998