In [1]:
import pandas as pd
import timeit
import numpy as np

#Reading Dataset
df = pd.read_csv('adult.data', sep=",", header = None , na_values = "?")
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
#Adding column names in the Dataset
df.columns = ['age', 'workclass','fnlwgt','education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race',
              'sex', 'capital_gain', 'capital_loss','hours_per_week','native_country', 'class']

In [3]:
#Preprocessing
#Converting continuous data into Categorical data
df['Age'] = pd.cut(x=df['age'], bins=[0, 18, 30, 50, 1000], labels=['Underage', 'Young', 'Adult','Elderly'])
#In this I have divided Age into 4 categories
#Similarly done for hours per week
df['Hours_per_Week'] = pd.cut(x=df['hours_per_week'], bins=[0, 20, 40, 1000], labels=['Part-Time', 'Full-Time', 'Overtime'])
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class,Age,Hours_per_Week
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Adult,Full-Time
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Adult,Part-Time
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Adult,Full-Time
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Elderly,Full-Time
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Young,Full-Time

In [4]:
df = df.applymap(lambda space: space.strip() if type(space) is str else space)#Some columns like fnlwgt, education_num didn't give any perspective.
#Removed old age and hours_per_week columns
#Capital_Gain and Capital_Loss had many 0 values.
df = df.drop(['age','fnlwgt','education_num','hours_per_week','capital_loss', 'capital_gain'], axis = 1)
df.head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,class,Age,Hours_per_Week
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K,Adult,Full-Time
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K,Adult,Part-Time
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K,Adult,Full-Time
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K,Elderly,Full-Time
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K,Young,Full-Time

In [5]:
#Removing space from the each item.
df = df.applymap(lambda space: space.strip() if type(space) is str else space)
#Here Preprocessing and Cleaning is completed

Improved Apriori using Sampling

In [6]:
#Improvement using Sampling
#Taking a random sample containing 60% of original data
df = df.sample(frac=0.6)
df.describe()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,class,Age,Hours_per_Week
count,19537,19537,19537,19537,19537,19537,19537,19537,19537,19537,19537
unique,9,16,7,15,6,5,2,42,2,4,3
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K,Adult,Full-Time
freq,13620,6353,9035,2512,7959,16645,13146,17447,14850,9332,12051

In [31]:
#We will start the timer for Apriori Algorithm here
start_time = timeit.default_timer()
# Earlier we cleaned the dataframe. Now we will be using dataframe.values.tolist() to load the dataset.
def load_df():
    return df.values.tolist()
#First step is generating Candidate1.
def gen_cand1(itemset):
    CANDIDATE1 = []
    for i in itemset:
        for j in i:
            if not [j] in CANDIDATE1:
                CANDIDATE1.append([j])
    return list(map(frozenset, CANDIDATE1)) 
#Set in unhashable therefore we use frozenset which is nothing but immutable version of python set object.

itemset = load_df()
CANDIDATE1 = gen_cand1(itemset)

In [32]:
# Scanning Databse
def database_scan(Db, Ck, min_sup):
    sup_count = {}
    sup_data = {}
    r_list = []
    Db_length = len(Db)
    for t in Db:
        for i in Ck:
            if i.issubset(t):
                if not i in sup_count: sup_count[i]=1
                else: sup_count[i] += 1
    
    total_items = int(Db_length)
    for key in sup_count:
        support = sup_count[key]/total_items
        if support >= min_sup:
            r_list.insert(0,key)
        sup_data[key] = support
    return r_list, sup_data

#In this step we use our knowledge of support count. 
#If support of an item is greater than min_support, we insert that item and store it.

# Generating Apriori
def generate_apriori(L_k, k): 
    Ck = []
    for l in range(len(L_k)):
        for i in range(l+1, len(L_k)): 
            l1 = list(L_k[l])[:k-2]
            l2 = list(L_k[i])[:k-2]
            l1.sort()
            l2.sort()
            if l1==l2: 
                Ck.append(L_k[l] | L_k[i]) 
    return Ck

In [33]:
# Apriori function in which we specify min_sup and obtain frequent itemsets corresponding to it.
def apriori(itemset, min_sup = 0.12):
    CANDIDATE1 = gen_cand1(itemset)
    D = list(map(set, itemset))
    L1, sup_data = database_scan(D, CANDIDATE1, min_sup)
    L = [L1]
    k = 2
    while (len(L[k-2]) > 0):
        Ck = generate_apriori(L[k-2], k)
        L_k, sup = database_scan(D, Ck, min_sup)
        sup_data.update(sup)
        L.append(L_k)
        k += 1
    return L, sup_data
L,sdata = apriori(itemset)
new_list = []
for index in range(len(L)):
    print("\nL{} ".format(index))
    print("Number of patterns={} \n".format(len(L[index])))
    improve_apriori_freq_pattern = [list(i) for i in L[index]]
    print(improve_apriori_freq_pattern)

L0
Number of patterns=24

[['Prof-specialty'], ['Some-college'], ['>50K'], ['Exec-managerial'], ['Divorced'], ['Craft-repair'], ['Bachelors'], ['Female'], ['Young'], ['Own-child'], ['HS-grad'], ['Overtime'], ['Adult'], ['Husband'], ['Married-civ-spouse'], ['Private'], ['Full-Time'], ['Elderly'], ['<=50K'], ['United-States'], ['Male'], ['White'], ['Not-in-family'], ['Never-married']]

L1
Number of patterns=106

[['Full-Time', 'Some-college'], ['White', 'Some-college'], ['Male', 'Some-college'], ['United-States', 'Some-college'], ['<=50K', 'Some-college'], ['Private', 'Some-college'], ['>50K', 'Male'], ['>50K', 'Husband'], ['>50K', 'White'], ['>50K', 'United-States'], ['>50K', 'Private'], ['>50K', 'Married-civ-spouse'], ['>50K', 'Adult'], ['Not-in-family', 'Private'], ['Female', 'Private'], ['Full-Time', 'Husband'], ['Full-Time', 'Adult'], ['Female', 'Never-married'], ['Female', 'Adult'], ['Divorced', 'United-States'], ['<=50K', 'Divorced'], ['Husband', 'United-States'], ['Adult', 'United-States'], ['United-States', 'Overtime'], ['Husband', 'HS-grad'], ['Adult', 'HS-grad'], ['White', 'Own-child'], ['White', 'Young'], ['Bachelors', 'White'], ['Bachelors', 'United-States'], ['Married-civ-spouse', 'United-States'], ['Married-civ-spouse', 'Elderly'], ['Full-Time', 'Married-civ-spouse'], ['White', 'HS-grad'], ['Married-civ-spouse', 'HS-grad'], ['Female', 'White'], ['Female', 'United-States'], ['Female', '<=50K'], ['Female', 'Full-Time'], ['Never-married', 'Private'], ['Private', 'United-States'], ['Full-Time', 'Private'], ['Male', 'HS-grad'], ['HS-grad', 'United-States'], ['<=50K', 'HS-grad'], ['Full-Time', 'HS-grad'], ['Private', 'HS-grad'], ['Never-married', 'Own-child'], ['United-States', 'Own-child'], ['<=50K', 'Own-child'], ['Never-married', 'Young'], ['Male', 'Young'], ['Young', 'United-States'], ['<=50K', 'Young'], ['Full-Time', 'Young'], ['Private', 'Young'], ['White', 'Private'], ['Male', 'Private'], ['<=50K', 'Private'], ['Married-civ-spouse', 'White'], ['Male', 'Married-civ-spouse'], ['<=50K', 'Married-civ-spouse'], ['Married-civ-spouse', 'Private'], ['White', 'Husband'], ['Male', 'Husband'], ['<=50K', 'Husband'], ['Private', 'Husband'], ['Married-civ-spouse', 'Husband'], ['White', 'Adult'], ['Male', 'Adult'], ['<=50K', 'Adult'], ['Private', 'Adult'], ['Married-civ-spouse', 'Adult'], ['Adult', 'Husband'], ['White', 'Overtime'], ['Male', 'Overtime'], ['<=50K', 'Overtime'], ['Private', 'Overtime'], ['Married-civ-spouse', 'Overtime'], ['Husband', 'Overtime'], ['Adult', 'Overtime'], ['Never-married', 'Not-in-family'], ['White', 'Never-married'], ['White', 'Not-in-family'], ['Male', 'Never-married'], ['Male', 'Not-in-family'], ['Male', 'White'], ['Never-married', 'United-States'], ['Not-in-family', 'United-States'], ['White', 'United-States'], ['Male', 'United-States'], ['<=50K', 'Never-married'], ['<=50K', 'Not-in-family'], ['<=50K', 'White'], ['<=50K', 'Male'], ['<=50K', 'United-States'], ['Elderly', 'White'], ['Male', 'Elderly'], ['Elderly', 'United-States'], ['<=50K', 'Elderly'], ['Full-Time', 'Never-married'], ['Full-Time', 'Not-in-family'], ['Full-Time', 'White'], ['Full-Time', 'Male'], ['Full-Time', 'United-States'], ['<=50K', 'Full-Time']]

L2
Number of patterns=223

[['Full-Time', 'United-States', 'Some-college'], ['>50K', 'Adult', 'Male'], ['Private', 'United-States', 'Some-college'], ['<=50K', 'United-States', 'Some-college'], ['<=50K', 'White', 'Some-college'], ['<=50K', 'Private', 'Some-college'], ['Male', 'United-States', 'Some-college'], ['Male', 'White', 'Some-college'], ['White', 'United-States', 'Some-college'], ['White', 'Private', 'Some-college'], ['>50K', 'Married-civ-spouse', 'Husband'], ['>50K', 'Husband', 'United-States'], ['>50K', 'White', 'Husband'], ['>50K', 'Married-civ-spouse', 'Male'], ['>50K', 'Private', 'Male'], ['>50K', 'Male', 'United-States'], ['>50K', 'White', 'Male'], ['>50K', 'Male', 'Husband'], ['>50K', 'Married-civ-spouse', 'Adult'], ['>50K', 'Married-civ-spouse', 'Private'], ['>50K', 'Adult', 'United-States'], ['>50K', 'Married-civ-spouse', 'United-States'], ['>50K', 'Private', 'United-States'], ['>50K', 'White', 'Adult'], ['>50K', 'White', 'Married-civ-spouse'], ['>50K', 'White', 'Private'], ['>50K', 'White', 'United-States'], ['<=50K', 'Not-in-family', 'Private'], ['Not-in-family', 'White', 'Private'], ['Not-in-family', 'Private', 'United-States'], ['Female', 'Full-Time', 'Private'], ['Female', '<=50K', 'Private'], ['Female', 'Private', 'United-States'], ['Female', 'White', 'Private'], ['<=50K', 'Full-Time', 'Adult'], ['<=50K', 'Full-Time', 'Husband'], ['Full-Time', 'Married-civ-spouse', 'Male'], ['Full-Time', 'Married-civ-spouse', 'Private'], ['Full-Time', 'Adult', 'United-States'], ['Full-Time', 'Male', 'Adult'], ['Full-Time', 'White', 'Adult'], ['Full-Time', 'Private', 'Adult'], ['Full-Time', 'Married-civ-spouse', 'Adult'], ['Full-Time', 'Husband', 'United-States'], ['Full-Time', 'Male', 'Husband'], ['Full-Time', 'White', 'Husband'], ['Full-Time', 'Private', 'Husband'], ['Full-Time', 'Married-civ-spouse', 'Husband'], ['Full-Time', 'Adult', 'Husband'], ['Female', 'Adult', 'United-States'], ['Female', 'Never-married', '<=50K'], ['Female', 'Never-married', 'United-States'], ['<=50K', 'United-States', 'Overtime'], ['Male', 'United-States', 'Overtime'], ['White', 'United-States', 'Overtime'], ['<=50K', 'Adult', 'United-States'], ['Male', 'Adult', 'United-States'], ['White', 'Adult', 'United-States'], ['<=50K', 'Husband', 'United-States'], ['Male', 'Husband', 'United-States'], ['White', 'Husband', 'United-States'], ['Male', 'Married-civ-spouse', 'United-States'], ['<=50K', 'Adult', 'HS-grad'], ['Male', 'White', 'HS-grad'], ['Male', 'Husband', 'HS-grad'], ['Male', 'Married-civ-spouse', 'HS-grad'], ['Private', 'United-States', 'Overtime'], ['Adult', 'Private', 'United-States'], ['Private', 'United-States', 'Husband'], ['Married-civ-spouse', 'Husband', 'HS-grad'], ['White', 'Adult', 'HS-grad'], ['White', 'Private', 'HS-grad'], ['Married-civ-spouse', 'United-States', 'Overtime'], ['Married-civ-spouse', 'Adult', 'United-States'], ['Married-civ-spouse', 'Husband', 'United-States'], ['Married-civ-spouse', 'Private', 'United-States'], ['Adult', 'United-States', 'Overtime'], ['Adult', 'United-States', 'Husband'], ['HS-grad', 'Adult', 'United-States'], ['Husband', 'United-States', 'Overtime'], ['HS-grad', 'Husband', 'United-States'], ['White', 'Private', 'United-States'], ['White', 'Private', 'Never-married'], ['Full-Time', 'White', 'Young'], ['<=50K', 'White', 'Young'], ['Male', 'White', 'Young'], ['<=50K', 'White', 'Own-child'], ['Full-Time', 'White', 'Private'], ['Bachelors', 'White', 'United-States'], ['White', 'Young', 'United-States'], ['White', 'Young', 'Never-married'], ['White', 'Private', 'Young'], ['White', 'United-States', 'Own-child'], ['<=50K', 'Full-Time', 'Married-civ-spouse'], ['<=50K', 'Married-civ-spouse', 'United-States'], ['Full-Time', 'White', 'HS-grad'], ['<=50K', 'White', 'HS-grad'], ['Female', 'Full-Time', '<=50K'], ['Female', 'Full-Time', 'United-States'], ['Female', '<=50K', 'United-States'], ['Female', 'Full-Time', 'White'], ['Female', 'White', '<=50K'], ['Female', 'White', 'United-States'], ['Married-civ-spouse', 'White', 'HS-grad'], ['White', 'HS-grad', 'United-States'], ['Full-Time', 'Married-civ-spouse', 'United-States'], ['Full-Time', 'Married-civ-spouse', 'White'], ['Married-civ-spouse', 'White', 'United-States'], ['Married-civ-spouse', 'HS-grad', 'United-States'], ['<=50K', 'Full-Time', 'Private'], ['<=50K', 'Private', 'United-States'], ['<=50K', 'Never-married', 'Private'], ['Male', 'Private', 'United-States'], ['Male', 'Never-married', 'Private'], ['Full-Time', 'Young', 'United-States'], ['Full-Time', 'Never-married', 'Young'], ['<=50K', 'Full-Time', 'Young'], ['<=50K', 'Young', 'United-States'], ['<=50K', 'Male', 'Young'], ['<=50K', 'Never-married', 'Young'], ['<=50K', 'Private', 'Young'], ['Male', 'Young', 'United-States'], ['Male', 'Private', 'Young'], ['Never-married', 'Young', 'United-States'], ['<=50K', 'United-States', 'Own-child'], ['<=50K', 'Never-married', 'Own-child'], ['Never-married', 'United-States', 'Own-child'], ['Full-Time', 'HS-grad', 'United-States'], ['Full-Time', 'Male', 'HS-grad'], ['<=50K', 'Full-Time', 'HS-grad'], ['<=50K', 'HS-grad', 'United-States'], ['<=50K', 'Male', 'HS-grad'], ['<=50K', 'Private', 'HS-grad'], ['Male', 'HS-grad', 'United-States'], ['Male', 'Private', 'HS-grad'], ['Full-Time', 'Private', 'United-States'], ['Full-Time', 'Male', 'Private'], ['Full-Time', 'Never-married', 'Private'], ['Full-Time', 'Private', 'Young'], ['Full-Time', 'Private', 'HS-grad'], ['Young', 'Private', 'United-States'], ['HS-grad', 'Private', 'United-States'], ['Never-married', 'Private', 'United-States'], ['Young', 'Never-married', 'Private'], ['<=50K', 'Male', 'Overtime'], ['<=50K', 'White', 'Overtime'], ['Male', 'White', 'Overtime'], ['<=50K', 'Male', 'Adult'], ['<=50K', 'White', 'Adult'], ['Male', 'White', 'Adult'], ['Male', 'Adult', 'Overtime'], ['White', 'Adult', 'Overtime'], ['Married-civ-spouse', 'Husband', 'Overtime'], ['Married-civ-spouse', 'Adult', 'Husband'], ['Adult', 'Private', 'Husband'], ['<=50K', 'Male', 'Husband'], ['<=50K', 'White', 'Husband'], ['Male', 'White', 'Husband'], ['Male', 'Husband', 'Overtime'], ['Male', 'Adult', 'Husband'], ['White', 'Husband', 'Overtime'], ['White', 'Adult', 'Husband'], ['Married-civ-spouse', 'Adult', 'Private'], ['Married-civ-spouse', 'Private', 'Husband'], ['<=50K', 'Male', 'Married-civ-spouse'], ['<=50K', 'Married-civ-spouse', 'White'], ['<=50K', 'Married-civ-spouse', 'Adult'], ['<=50K', 'Married-civ-spouse', 'Husband'], ['Male', 'Married-civ-spouse', 'White'], ['Male', 'Married-civ-spouse', 'Overtime'], ['Male', 'Married-civ-spouse', 'Adult'], ['Male', 'Married-civ-spouse', 'Husband'], ['Married-civ-spouse', 'White', 'Overtime'], ['Married-civ-spouse', 'White', 'Adult'], ['Married-civ-spouse', 'White', 'Husband'], ['Married-civ-spouse', 'White', 'Private'], ['<=50K', 'Male', 'Private'], ['<=50K', 'White', 'Private'], ['<=50K', 'Private', 'Overtime'], ['<=50K', 'Adult', 'Private'], ['<=50K', 'Private', 'Husband'], ['<=50K', 'Married-civ-spouse', 'Private'], ['Male', 'White', 'Private'], ['Male', 'Private', 'Overtime'], ['Male', 'Adult', 'Private'], ['Male', 'Private', 'Husband'], ['Male', 'Married-civ-spouse', 'Private'], ['White', 'Private', 'Overtime'], ['White', 'Adult', 'Private'], ['White', 'Private', 'Husband'], ['Full-Time', 'Male', 'United-States'], ['Full-Time', 'White', 'United-States'], ['Full-Time', 'White', 'Male'], ['Full-Time', 'Not-in-family', 'United-States'], ['Full-Time', 'White', 'Not-in-family'], ['Full-Time', 'Never-married', 'United-States'], ['Full-Time', 'Never-married', 'White'], ['Elderly', 'White', 'United-States'], ['<=50K', 'Full-Time', 'United-States'], ['<=50K', 'Elderly', 'United-States'], ['<=50K', 'Male', 'Full-Time'], ['<=50K', 'Male', 'United-States'], ['<=50K', 'Full-Time', 'White'], ['<=50K', 'White', 'United-States'], ['<=50K', 'Male', 'White'], ['<=50K', 'Full-Time', 'Not-in-family'], ['<=50K', 'Not-in-family', 'United-States'], ['<=50K', 'White', 'Not-in-family'], ['<=50K', 'Full-Time', 'Never-married'], ['<=50K', 'Never-married', 'United-States'], ['<=50K', 'Male', 'Never-married'], ['<=50K', 'Never-married', 'White'], ['<=50K', 'Never-married', 'Not-in-family'], ['Male', 'Elderly', 'United-States'], ['Male', 'White', 'Elderly'], ['Male', 'White', 'United-States'], ['Male', 'Not-in-family', 'United-States'], ['Male', 'Never-married', 'United-States'], ['Male', 'Never-married', 'White'], ['White', 'Not-in-family', 'United-States'], ['White', 'United-States', 'Never-married'], ['White', 'Not-in-family', 'Never-married'], ['Never-married', 'Not-in-family', 'United-States']]

L3
Number of patterns=227


In [34]:
end_time = timeit.default_timer()
total_time = end_time - start_time
total_time

8.635148800000024